 {% extends "base.html" %} {% block title %}Home{% endblock title %} {% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <h2 class="my-4">Hi, {{ user.username }}!</h2>
    <p>You are {{ user.age }} years old.</p>
    <div class="mt-4">
        <a href="{% url 'logout' %}" class="btn btn-primary me-2">Log Out</a>
        <a href="{% url 'article_list' %}" class="btn btn-secondary">View All Articles</a>
    </div>
    {% else %}
    <p>You are not logged in</p>
    <div class="mt-4">
        <a href="{% url 'login' %}" class="btn btn-primary me-2">Log In</a>
        <a href="{% url 'signup' %}" class="btn btn-secondary">Sign Up</a>
    </div>
    {% endif %}
</div>
{% endblock content %}